body {
  background: #2473ab !important;
  background-size: cover !important;
  color: #fff !important;
}

.weather-now {
  font-size: 10vmin !important;
  font-weight: 100 !important;
  color: #fff !important;
}
.weather-now span {
  display: block;
  line-height: 6vmin;
  font-size: 5vmin !important;
}
.weather-now strong {
  display: block;
  font-size: 20vmin;
  font-weight: 700;
  line-height: 20vmin;
}

.hourly-wrapper {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}

.hourly span {
  display: block;
}
